.no-select {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.no-select img,
.no-select Image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
  width: 100%;
  height: auto;
  display: block;
}


.no-select::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.no-select .overlay-content {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  pointer-events: auto;
  touch-action: pan-y pan-x; 
  cursor: grab;
}

/* RTL Support */
.slider-container[dir="rtl"] {
  direction: rtl;
}
[dir="rtl"] .slider-slide {
  direction: rtl;
}
[dir="rtl"] .slider-slide * {
  text-align: right;
}
